.footer {
    height: 7.5rem;
    width: 100%;
    background-color: #39542D;
    padding: 10px;
    bottom: 0;
    display: flex;
    color: white;
    padding: 5px 20px;
    font-size: 10px;
}

.footerColumn {
    text-align: left;
    width: 50%;
}

.footerColumn p {
    margin: 10px 5px;
}

.footerBold {
    font-weight: bold;
}