.header {
  height: 5rem;
  width: 100%;
  background-color: #39542D;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.logo {
  font-family: "Poppins-Bold";
}