.header {
  height: 5rem;
  width: 100%;
  background-color: #39542D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.menuLeft {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuCenter {
  flex-grow: 5;
}

.menuRight {
  flex-grow: 1;
}