.table {
  width: 370px;
  height: 200px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 0 0 8px 8px;
  padding: 0 0.5rem 0.5rem 0.5rem;
  border-left: 0.01rem solid #EAF0ED;
  border-right: 0.01rem solid #EAF0ED;
  border-bottom: 0.01rem solid #EAF0ED;
  font: normal normal normal 16px/20px Montserrat;
  border-collapse: collapse;
}

.tbody:last-child {
  border-bottom: 0;
}

.header {
  background-color: #39542D;
  border-radius: 8px;
  display: table-caption;
  width: 100%;
  font: normal normal 600 16px/20px Montserrat;
}

.column {
  padding: 0 1rem;
}
