.section {
    margin-top: 5rem;
    flex: 1; /* Faz o conteúdo principal expandir para preencher o espaço disponível */
}

.wrapper {
    display: flex;
    flex-direction: column; /* Layout em coluna */
    min-height: 100vh;      /* Ocupa pelo menos 100% da altura da viewport */
  }

:global(button) {
    box-shadow: none;
  }

.brigadasTitle {
    font-weight: bold;
    font-size: 14pt;
    margin-bottom: 0.5rem; 
    color: #263A1E;
}
.feedTitle {
    font-weight: bold;
    font-size: 14pt;
    margin-top: 1.5rem; 
    margin-bottom: 0.5rem;
    color: #263A1E;
}

.section {
    padding: 1.5rem 1.5rem;
    color: #263A1E;
}

.filterSide {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 1.2rem;
    width: 100%;
}

.searchBar {
    flex-grow: 1;
}

.buttonSearch{
    flex-grow: 4;
}